<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtc.multimap">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name="com.xtc.multimap.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="UAwpVqrMKMgjcEy7GAQkuZhyVdQl13WR" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="db49bc3232b16669eb15da4a2a467a12" />
        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />

        <!--
         在android4.0以上系统中的 Activity加上下面这句，可以支持地图横竖屏切换
         android:configChanges="orientation|keyboardHidden|screenSize"
                               例如：
         <activity
            android:name=".basic.BasicMapActivity"
            android:label="@string/basic_map"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        -->

        <activity android:name=".demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".demo.SimpleMap" />
        <activity android:name=".demo.MapEventListener" />
        <activity android:name=".demo.MapLocation" />
        <activity android:name=".demo.MapOverlay" />
        <activity android:name=".demo.GeocoderActivity" />
    </application>

</manifest>